body{
  margin:0px;
}
a {
  color:black;
  text-decoration: none;
}
#active {
  color:GREEN;
}
h1 {
  font-size:100px; text-align: center;
  border-bottom:5px solid black;
  margin:0px;
  padding:60px;
}
ul{
  font-size:20px;
  border-right:5px solid black;
  width:100px;
  margin:0px;
  padding:20px;
}
ul{
  padding-left: 50px;
  padding-right: 30px;
}
li{
  padding-bottom: 20px;
}
#cozy{
  display:grid;
  grid-template-columns: 150px 1fr
}
#sion{
  padding:40px;
  margin: 150px;
  margin-top: 75px;
  font-size: 1.2em;
}
.center{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
}
@media(max-width:800px){
  #cozy{
    display:block;
  }
  ul{
    border-right: none;
  }
  h1{
    border-bottom: none;
  }
}
h2{
  color:#848CB5;
}
